.profile {
  background-color: var(--clr-2);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.job {
  width: 100%;
  max-width: 350px;
}

.portraitContainer {
  position: relative;
  justify-self: end;
}

.circle {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.portrait {
  position: absolute;
  bottom: 0;
  display: block;
  height: 110%;
  /* height: 120%; */
  left: 50%;
  transform: translateX(-50%);
}

.content {
  max-width: 1280px;
  background-color: var(--clr-3);
  border-radius: 50px;
  padding: calc(var(--offset-base-size) * 16);
}

.interview {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: calc(var(--offset-base-size) * 6);
  align-items: center;
}

.video {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0px 50px 50px -20px rgba(0, 80, 154, 0.40);
  overflow: hidden;
}

.interviewText {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}

.interviewText p:first-child {
  margin-top: 0;
}

.carouselImage {
  display: block;
  width: 100%;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

@media screen and (max-width: 1200px) {
  .interview {
    grid-template-columns: 1fr;
  }
  .video {
    margin-inline: auto;
  }
  .interviewText {
    grid-template-columns: 1fr 1fr;
  }
  .interviewText p {
    margin-top: 0;
  }
}

@media screen and (max-width: 1050px) {
  .circle {
    width: 90%;
  }
  .portrait {
    max-width: 300px;
  }
  .content {
    padding: calc(var(--offset-base-size) * 8);
  }
}

@media screen and (max-width: 850px) {
  .header {
    grid-template-columns: 1fr;
    row-gap: calc(var(--offset-base-size) * 16);
    padding-top: calc(var(--offset-base-size) * 16);
  }
  h2 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .job {
    margin-inline: auto;
    text-align: center;
  }
  .portraitContainer {
    justify-self: center;
  }
  .interview {
    grid-template-columns: 1fr;
  }
  .video {
    margin-inline: auto;
  }
  .interviewText {
    grid-template-columns: 1fr
  }
  .interviewText p {
    margin-top: 20px;
  }
  .carousel {
    margin-top: calc(var(--offset-base-size) * 5);
  }
}
