@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root {
  --ff: "Inter", sans-serif;
  --fs-base: 16px;
}

h1 {
  font-size: 6rem;
  color: var(--clr-1);
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: .1em;
}

h2 {
  color: var(--clr-1);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  word-spacing: .1em;
}


h3 {
  color: var(--clr-1);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  word-spacing: .1em;
}

h4 {
  color: var(--clr-1);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

p {
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-top: calc(var(--offset-base-size) * 4);
}

a {
  color: var(--clr-1);
  text-decoration: none;
}

a:visited, a:hover {
  color: var(--clr-1);
}

.refQuotes {
  border: none;
}

.refText {
  border-bottom: 1px solid rgba(0, 112, 186, 0.3);
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
