header {
  /* overflow-x: hidden; */
}

.text{
  width: 100%;
  max-width: 450px;
}

.title {
  /* text-align: center; */
}

.subtitle {

}

.image {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
